.grid-imgs h1{
    font-size: 150%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.card1 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card1 h1 {
    border-radius: 25px;
    background-color: var(--color-main);
}

.bg-body {
    background-image: url('../images/Logos/logo_white.png');
    background-position: center;
    background-size: contain;
    background-repeat: space;
    object-fit: contain;
}