/*
 * Basic set ups.
 * 
 * @NavBar, Header, Footer
 */



/* Navigation */
nav {
    padding: 0;
    top: 0;
    position: sticky;
    display: none;
}

@media (min-width:500px) {
    nav {
        display: flex;
        flex-wrap: wrap;
        position: sticky;
        gap: 1rem;
        padding: 10px;
        font-size: 80%;
        font-weight: bold;
        top: 0;        
        justify-content: center;
        align-items: center;
        background-color: var(--color-main);
        background: linear-gradient(to top, var(--color-main), var(--color-secondary));
    }
    
}

nav a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.nav-toggle {
    z-index: 999;
    display: none;
    position: fixed;
    top: 1%;
    right: 10px;
    background-color: var(--color-main);
    color: var(--color-secondary);
    padding: 1px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    background-color: var(--color-secondary);
}

/* Show the toggle */
@media (max-width: 499px) {
    .nav-toggle {
        display: block;
    }
    
    nav.show {
        z-index: 998;
        background-color: var(--color-main);
        position: sticky;
        display: block;
    }

    nav div {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    header {
        z-index: 997;
        top: 0;
        position: sticky;
    }
    
}



nav a:hover {
    background-color: var(--color-main);
}





/*
 * Header
 */
header {
    color: var(--color-main);
    background-color: var(--color-primary);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 120%;
    font-weight: bold;

}

/*
 * Footer
 */
footer {
    bottom: 0;
    padding: 5px;
    position: sticky;
    display: flex;
    justify-content: center;
    background-color: var(--color-main);
    color: var(--color-secondary);

}

.footer-logo{
    background-image: url('../images/Logos/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 150px;
    height: 150px;
}


/*
 * Footer tags
 */
.school-div-more-about {
    padding: 5px;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.about-content {
    padding: 5px;
}