.intro {
    gap: 2rem;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    align-items: center;
}

.intro p {
    padding: 5px;
}


.intro-img img{
    max-width: 450px;
    display: none;
}

.whoWeAre-div  img{
    gap: 5rem;
    display: none;
    border-radius: 20px;
}

@media (min-width: 500px) {
    .intro-img img {
        display: block;
        border-radius: 20px;
    }

    .whoWeAre-div img {
        display: block;
        box-shadow: 0 0 20px var(--color-secondary);
    }
    
}


.field-imgs img {
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--color-secondary);
    display: flex;
    
}


.field-imgs div {
}
.intro div {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.intro-paragraph {
    min-width: 200px;
    padding: 15px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


section {
    padding: 15px;
}


/*
 * School Intro
 */
 
 .banner-intro {
    background-image: url('../images/Logos/logo_tall.PNG');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
    
.school_name  {
    color: var(--color-secondary);
    top: 30%;
    position: sticky;
    font-size: 16pt;
    font-family: 'Yellowtail';
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1ft));
}

.banner-intro p {
    z-index: 999;
    top: 20%;
    position: sticky;
}

/*
 * Main section
 */

main {
    margin-bottom: 150px;
}


/*
 * RCLs
 */

 .rcl {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 }